# Actividad 1

En este notebook vamos a explorar las operaciones matemáticas, strings y variables básicas de Python.

Python acepta operaciones matemáticas básicas, respetando las reglas de jerarquía (precedencia) de las operaciones y sus paréntesis:

In [1]:
3+5
# Esto es un comentario.

8

In [2]:
# Python reconoce el uso de paréntesis
3 * (5./8. - 1)

-1.125

In [3]:
# Esta operacion me retorna el resto de la división
5%3

2

In [4]:
# Uso de potencias:
2**3

8

In [5]:
4**(0.5)

2.0

#### Variables
Python permite asignar variables con valores numéricos:

In [6]:
a = 4
b = 3
a*b

12

In [7]:
# y convierte automáticamente de enteros a floatantes, según necesidad.
a*b/3

4.0

Con la función `type( )` se puede saber el **tipo** de la variable de interés:

In [8]:
type(a)

int

In [9]:
c = 5.6 
type(c)

float

In [10]:
# También podemos usar el += como abreviación de a = a + ...
# (esto también aplica al -=, *= , /= )
a += 1
a

5

In [11]:
# Python reconoce si uso una variable (referencia) que no está definida
n

NameError: name 'n' is not defined

In [12]:
# y también identifica el tipo de error...
zero = 0
a/zero

ZeroDivisionError: division by zero

Para acceder a más operaciones matemáticas, podemos usar el módulo (librería) estándar `math`:

In [13]:
import math

In [14]:
math.log10(1e56)

56.0

#### Strings (cadenas)
Python también nos permite crear variables tipo string (o cadenas)

In [15]:
var = "hola"
var

'hola'

In [16]:
# También acepta comillas simples
var_simple = 'hola'
var_simple

'hola'

In [18]:
# Ambas opciones permiten definir strings con comillas adentro:
p = "I don't want to learn Python"
p

"I don't want to learn Python"

Podemos combinar y realizar operaciones con strings:

In [19]:
# Se concatenan las strings literales ("entre comillas") de forma automática
"hola" " " "mundo"

'hola mundo'

In [20]:
# pero esto no funciona con variables y strings
var "mundo"

SyntaxError: invalid syntax (2443558506.py, line 2)

In [21]:
# Esto lo puedo cambiar utilizando un operador:
var + "mundo"

'holamundo'

In [22]:
# incluso...
var3 = "mundo"
var + " " + var3

'hola mundo'

In [23]:
# strings también admiten el operador *
"Hol"+3*"a"

'Holaaa'

In [24]:
s1 = "Hol"+3*"a"
s1 + " :-)"

'Holaaa :-)'

In [25]:
# y pueden contener saltos de línea
m4 = 4*"star wars!\n"
print(m4)

star wars!
star wars!
star wars!
star wars!

In [26]:
# El tipo de estas variables es 'str'
type(s1)

str

In [27]:
# Para incluir un \n (o \t, \r) dentro de un string:
s2 = "linea1\nlinea2"
print(s2)

linea1
linea2

In [28]:
# También se puede forzar a que sea literal:
s3 = r"linea1\nlinea2"
print(s3)

linea1\nlinea2

Las strings son objetos que también admiten el operador de indexación `[]`

In [29]:
# Las strings se pueden acceder con el operador de indexación
s4 = "Ayudante"
s4[0]

'A'

In [30]:
# Usando números negativos se accede desde el último elemento (desde -1)
s4[-2]

't'

In [31]:
# Esta función nos permite conocer el "largo" del objeto
len(s4)

8

In [32]:
# Python permite extraer slides de un objeto indexable, como estas strings:
s4[3:6]

'dan'

In [33]:
s4[-5:-1]

'dant'

In [34]:
s4[:5]

'Ayuda'

In [35]:
s4[5:]

'nte'

In [36]:
s4[:5] + s4[5:]

'Ayudante'

In [37]:
# Python permite crear strings con multiples lineas utilizando la triple comilla 
s5 = """\
Esta es una linea
Esta es otra
Este es el fin
"""
print(s5)

Esta es una linea
Esta es otra
Este es el fin

In [38]:
# ¿Puedo acceder a índices por fuera de la string?
s4[8]

IndexError: string index out of range

In [39]:
s4[-9]

IndexError: string index out of range

In [40]:
# Puedo modificar los elementos de un string?
s4[1] = "o"

TypeError: 'str' object does not support item assignment

Entonces, en Python las strings con **inmutables**

In [41]:
# pero las puedo utilizar para crear otras (modificadas)
"o"+s4[1:]

'oyudante'

In [42]:
# incluso puedo re-definirla
s4 = "o"+s4[1:]
s4

'oyudante'