# Tuplas

Las tuplas son objetos similares a las listas (compuestos y ordenados), PERO son INMUTABLES.

In [1]:
# Ejemplo de tupla:

t1 = (1,2,3)

In [2]:
type(t1)

tuple

In [3]:
# puedo usar indexación (de la misma forma que las listas)
t1[0]

1

In [4]:
t1[1:]

(2, 3)

In [5]:
t1[-2]

2

In [6]:
# verifiquemos si la podemos modificar:
t1[0] = 0

TypeError: 'tuple' object does not support item assignment

In [7]:
# Las tuplas también se pueden definir solo con las comas:
t2 = 1,2,3
t2

(1, 2, 3)

In [8]:
# que pueden contener las tuplas?
t3 = (0, "hola", [])
t3

(0, 'hola', [])

**Pueden contener cualquier cosa!**

In [9]:
# y se pueden modificar los objetos mutables pertenecientes a la tupla?
t3[2].append("oso")

In [10]:
# si! porque la tupla define inmutabilidad en las referencias contenidas.
t3

(0, 'hola', ['oso'])

In [11]:
# las tuplas también se puden anidar:
t4 = t3, 45, "mundo cruel"
t4

((0, 'hola', ['oso']), 45, 'mundo cruel')

In [12]:
# Veamos los métodos de las tuplas:
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [13]:
help(t1.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [14]:
t1.count(2)

1

In [15]:
help(t1.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.tuple instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [16]:
t1.index(2)

1

*Si tienen tan pocos métodos... entonces para qué las uso?*

En general, las listas se usan para Iterar (loop, por ejemplo) distintos elementos, en cambio las tuplas se utilizan para **(des)empaquetación**.

In [17]:
# empaquetar objetos:
t5 = "hola", 4, t4
t5

('hola', 4, ((0, 'hola', ['oso']), 45, 'mundo cruel'))

In [18]:
# y desempaquetar:
t3

(0, 'hola', ['oso'])

In [19]:
entero1, string1, lista1 = t3

Estas definiciones nos permiten hacer asignaciones múltiples de nombres (referencias) en una misma línea. Por ejemplo:

In [20]:
# Declaración y asignación normal: 
a = 1
b = 2
print(a, b)

1 2

In [21]:
# con asignación múltiple:
a, b = 1, 2
print(a, b)

1 2

Lo que está a la derecha del operador igual **`=` siempre** se resolverá antes de cualquier asignación.

In [22]:
# Para crear tupla vacía: 
te = ()

In [23]:
# En cambio, para crear una tupla de 1 elemento:
te1 = (1,)

In [24]:
te1

(1,)

# Conjuntos  (sets)

Los sets con como listas **pero** sus elementos **no** tienen un orden ni **tampoco** se repiten.

In [25]:
# Para definir un conjunto usamos set(<lista u otros objeto compuesto>)
s1 = set([1, 3, 5, 1, 3, 7])
s1

{1, 3, 5, 7}

In [26]:
type(s1)

set

In [27]:
# Otra forma de definir conjuntos es usando las llaves {}
s1 = {1, 3, 5, 1, 3, 7}
s1

{1, 3, 5, 7}

In [28]:
# El primer uso eficiente de los set, es la identificación de elementos que están en el conjunto:
3 in s1

True

In [29]:
8 in s1

False

In [32]:
# Se pueden generar varios objetos en set()?
s2 = set([3,5,6], "hola")

TypeError: set expected at most 1 argument, got 2

No... set recibe solo 1 objeto compuesto... y no puede comparar listas.

In [33]:
# Puedo transformar una lista en conjunto:
lista = [1,2,7,8,2]
sl1 = set(lista)
sl1

{1, 2, 7, 8}

In [34]:
# y también al reves!
list(sl1)

[8, 1, 2, 7]

In [35]:
# y las tuplas? 
tl1 = tuple(lista)
tl1

(1, 2, 7, 8, 2)

In [36]:
list(tl1), set(tl1)

([1, 2, 7, 8, 2], {1, 2, 7, 8})

Algunos ejemplos de operaciones de conjuntos:

In [37]:
a = set("abracadabra")
b = set("alacazam")
a, b

({'a', 'b', 'c', 'd', 'r'}, {'a', 'c', 'l', 'm', 'z'})

In [38]:
# Puedo "restar" conjuntos (elementos de a que no estan en b)
a - b

{'b', 'd', 'r'}

In [39]:
# Puedo ver los elementos que pertenecen a "a" y "b"
a & b

{'a', 'c'}

In [40]:
# Puedo ver los elementos que estan en "a" o "b", pero no ambos
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [41]:
# Elementos en "a" o "b" o ambos.
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [42]:
# Finalmente, si quiero combinar conjuntos debo crear uno nuevo:
c = set(list(a)+list(b))
c

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

# Diccionarios 

Los diccionarios con "como listas", **pero** asignan un **nombre** a cada objeto en vez de un índice.

In [43]:
# Ejemplo
d1 = {"pan":10, "queso":0.5, "palta":"No me alcanza", "huevos":12}
d1

{'pan': 10, 'queso': 0.5, 'palta': 'No me alcanza', 'huevos': 12}

In [44]:
d1["palta"]

'No me alcanza'

In [45]:
d1["pan"]

10

In [46]:
# puedo usar referencias como keys (nombres o índices):
s = "pan"
d1[s]

10

In [47]:
# un uso común en ciencia es guardar propiedades con sus nombres:
datos = {"masas":[56,34,21], "brillo":[-12, -15, -10]}

In [48]:
datos["masas"]

[56, 34, 21]

In [49]:
# puedo obtener los keys (nombres) mediante:
datos.keys()

dict_keys(['masas', 'brillo'])

In [50]:
# y agrego más cosas simplemente con:
d1["te"] = "2 bolsas"

In [54]:
# Fuera de jupyter, es necesario usar print(d1)
d1

{'pan': 10,
 'queso': 0.5,
 'palta': 'No me alcanza',
 'huevos': 12,
 'te': '2 bolsas'}

### Remover con del

Para remover elementos de los objetos compuestos, se puede utilizar la instrucción de Python `del`, que borra cualquier referencia e instancia definida en el kernel

In [55]:
# ejemplo, para borrar un elemento de un diccionario (también en listas!):
del d1["te"]
d1

{'pan': 10, 'queso': 0.5, 'palta': 'No me alcanza', 'huevos': 12}

In [56]:
# Puede borrar objetos completos:
del d1
d1

NameError: name 'd1' is not defined

In [57]:
# y esto sirve para cualquier objeto de Python
var = 1
del var
print(var)

NameError: name 'var' is not defined